/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 août 2018, 19:32:51
    Author     : hp
*/

/* General */
html,
.content{background-color:#1C2833;margin: 0; color :#17202A;font-size:18px;}


/* Carousel */
.carousel-item{height: 400px;}

/* Nav-Bar */
.nav{background-color:#1F618D; padding: 7.5px;padding-left: 6.5%;width: 100%;}
.item a{color: white!important; font-size: 20px;vertical-align: text-bottom;text-decoration: none;}
.i-nav{color: white;}
.f-search{ right : 0;text-align: right;}
.f-search input{width: 400px; padding-left: 10px;margin-right: 10px;border: none;vertical-align: sub;height: 32px;}
.f-item i{ vertical-align: middle;font-size: 25px;cursor: pointer;}
.item {margin-right: 50px;}
.f-item{width: 50%; right:0; }

/* Connection button */
.logon{right: 0; position: absolute;font-size:13px; user-select: none; color: white; z-index: 3;margin-right: 35px;margin-top: 30px; padding: 5px;cursor: pointer; border-style: solid; border-width: 1px;border-radius:7px; }
.logon:hover{color: #5499C7;} 

/* Modal */
.close-modal{cursor: pointer;margin: auto;font-size: 13px;}
.close-modal:hover{color: gray;}
.modal-footer {padding: 15px; border: none;}
.modal-title{margin-left: 25px;}
.modal-dialog{max-width: 50%;}
.f-connection{margin-left: 25px;width: 60%;margin: auto;margin-top: 40px;}
.f-connection input{margin-bottom: 15px;}
.con-mail, .con-pass{ width: 100%; border-radius: 5px; border: none; border: 2px solid #1F618D; padding-left: 10px;}
.con-sub, .r-sub{border: none; border-radius: 5px; margin: auto ; display: block;background-color:#1F618D; color: white; cursor: pointer; padding: 5px; padding-right: 15px;padding-left: 15px;margin-top: 10px; }
.btn-sub{text-align: center;display: block;}

/* Pages */
.page-title {color:#1F618D; font-size:45px; padding:25px; padding-left:100px; padding-top:50px;font-weight: 500;}
.add{font-size: 18px; margin:70px; margin-left:200px; margin-right:200px; background-color:white; padding:25px; padding-left: 40px; border: 4px solid #1F618D; border-radius: 30px;}
.title-add{font-size:30px;color: #17202A; font-weight:500; margin-bottom:10px}
.price-add{color: #1F618D; font-weight: 500; font-size: 25px; margin-bottom: 10px;}


/* Connection */
.page-connection, .c-registrer{background-color: white; margin: 120px ; margin-top : 70px; padding-top: 50px; padding-bottom :70px; border: 4px solid #1F618D;border-radius: 30px;}
.c-connection{margin-left:25px;width: 60%; margin:auto;margin-top: 40px;}
.c-connection input{margin-bottom: 20px; }
.c-label{width : 70%; margin:auto; margin-bottom:10px; margin-top:40px;display: block;}
.c-mail,
.c-pass{ width: 70%; border-radius:5px; border: none; border:2px solid #1F618D; padding-left:10px;  display: block; margin: auto;}
.c-sub{border: none; border-radius: 5px; margin: auto ; display: block;background-color:#1F618D; color: white; cursor: pointer; padding: 5px; padding-right: 15px;padding-left: 15px;margin-top: 40px; }
.alert-danger{width: 100%; background-color: transparent; border-color: transparent;margin-top: 20px;}


/* Registrer*/
.r-mail, .r-pass, .r-lname, .r-fname, .r-pseudo, .r-city, .r-pc,
.r-phone{ width: 100%; border-radius:5px; border: none; border:2px solid #1F618D; padding-left:10px; margin-bottom:20px; display: block;}
.r-label{margin-top: 20px;}
.r-sub{margin-top: 80px;}

/* add Deal or Registrer */
.a-label{display : block; margin-top: 30px;}
.a-desc{display: block; margin-top: 15px;resize:none; padding-top: 5px;}
.a-title, .a-desc, .a-price{ border-radius:5px; border: none; border:2px solid #1F618D; padding-left:10px; margin-bottom:0px!important;}
.a-title, .a-desc{width: 100%;}
.add-label{width: max-content; display: inline-block; margin-right: 40px;}
.a-select{height : 42px;margin-bottom: 30px; background-color:#1F618D; color: white;padding-left: 10px; padding-right: 10px; border-radius: 5px;}
.a-select option{background-color: white; color: #17202A;height: 30px;}
.btn-group{margin-bottom: 50px;}
.btn-secondary{ background-color: #1F618D;}
.btn-secondary:hover{background-color: #1B5276;}
.btn-secondary:not(:disabled):not(.disabled).active {background-color: #12374F}
.r-add{margin-top: 50px;}
.l-price{display: inline-block; margin-top: 50px; margin-right: 15px;}
.a-sub{margin-top: 80px; margin-bottom: 50px!important;}

/* Profil */
.page-profil {width: 85%; margin: auto; padding-top: 30px; padding-bottom: 50px;min-height: 900px;}
.nav-profil{padding: 0;margin-top: 70px;}
.col-3{padding: 0 ;border-radius: 30px 0 0 30px; background: #1F618D; padding-top:30px; padding-bottom: 30px;}
.col-9{padding: 0; border-radius: 0 30px 30px 0; border: 4px solid #1F618D; border-left-color:#12374F; background-color: white; padding-top:30px; padding-bottom: 30px;}
.nav-link{color: white;padding-left : 35px;}
.nav-pills .nav-link{border-radius: 0px;}
.nav-pills .nav-link:hover{background-color: #1B5276;color: white;}
.nav-pills .nav-link.active{background-color: #12374F}
.tab-content{margin-top: 30px;}

/* Deals and Requests User*/
.post{padding-left : 30px; padding-top: 20px; padding-bottom: 20px;}
.post:hover{background-color: lightgray;}
.p-message{padding-left: 30px; background-color: lightgray;padding-top: 30px; padding-bottom: 30px;}
.sub-title{ color: #1F618D; font-size: 35px; padding: 25px; font-weight: 400; margin-left: 40px; margin-bottom: 35px;}
.p-title{color: #1F618D;font-size: 25px;}
.l-user, .t-user{padding-left: 30px;}




